body{ /* 1. css add. color */
    background-color: black;
    text-align: center;
}

#instrument{
    display: flex;
    height: auto;
    width: 100%;
    /* border: 1px solid black; */
    align-content: center;
    justify-content: center;
    /* 3 & 4 css add. fontfamily and size*/
    font-family: cursive;
    font-size: 36px;
}

.box{
    height: 150px;
    margin: 5px 10px 10px 5px;
    width: 50px;
    border: 1px solid black;
    width:100px;
    height:330px; /* 5. css add. custom height*/
    transition: all 0.3s ease-out;
      
}
.box{ /*2. css add. interchanging background colors */
    background-color: yellow;
    -webkit-animation: random 10s infinite;
    animation: random 30s infinite;
}
@keyframes  random {
   45% { background-color: red; } 
   50% { background-color: rgba(229, 255, 0, 0.651); } 
   40% { background-color: green; } 
   35% { background-color: blue; }
   28% { background-color: rgb(0, 247, 255);} 
   20% { background-color: rgb(255, 0, 255); } 
}